.searchList{
    z-index: 2;
    position: fixed;
    background-color: var(--background);
    top: 10vh;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.back_btn {
    z-index: 3;
    position: fixed;
    margin: 1%;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.5);
}

.back_btn:hover{
    box-shadow: 0rem 0rem 0.5rem rgb(212, 36, 36);
}

.searchList header{
    width: 100vw;
    height: 5vh;
    display: flex;
}

.search_info{
    display: flex;
    width: 100vw;
    justify-content: center;
}

.iconBike{
    font-size: medium;
    margin-left: 1%;
}