
.card_cnt{
    width: 20%;
    height: 26rem;
    margin:2.5%;
    background-color: var(--backCards);
    display: flex ;
    position: relative;
    flex-direction: column;
    align-items: center;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    
}
.card_cnt:hover{
    box-shadow: 0rem 0rem 0.5rem #d73128d2;
}
.card_img_cnt{
    width: 100%;
    position: relative;    
    height: 50%; 
}

.sellerAvatar{
    position:absolute;
    top:1rem;
    left:1rem;
    height:2rem;
    width: 2rem !important;
    border-radius: 50%;
    object-fit: cover;
}

.moto_img {
    width:100% ;
    height: -webkit-fill-available;
    border-radius: 1rem;
    object-fit: cover;
}
.moto_year{
    bottom:17rem;
    left:1.9rem;
    position: absolute;
    height: 0%;
    width: 0%; 
}

.card_img_cnt button{
    border: none;
    border-radius: 2.5rem;
    height: 1.7rem;
    width: 1.7rem;
    position: absolute;
}

.fav_btn{
    right:1rem;
    top: 1rem;
    color: #676767;
    cursor: pointer;
}
.fav_btn:hover{
    background-color: #676767;
    color: white;
}
.fav_btn:active{
    background-color: rgb(235, 235, 55);
    color: white;
}

.info_icons{
    position: absolute;
    bottom: 2.5rem;
    right: 2.6rem;
    display: flex;
}

.classic_icon{
    background-color: rgb(177, 88, 228);
    color: white;
}

.eco_icon{
    background-color: rgb(25, 189, 33);
    color: white;
}

.isFav{
    background-color: rgb(228, 228, 88);
    color: white;
}
.isFav:hover{
    background-color: rgb(235, 235, 55);
    color: white;
}

.hidden{
    display: none;
}

.card_text_cnt{
    width: 100%;
    height:100%;
    display: flex;
    font-size: 0.7rem;
    justify-content: space-between;
}

.card_basicInfo{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem;

}
.card_info_box{
    display: flex;
    flex-direction: column;
}

.card_info_btn{
    height: 3rem;
    width: 7rem;
    background-color: #A1A1A1;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.card_info_btn:hover{
    background-color: var(--primaryColorHover);
    transition: all 0.5s ease-out;
}

.card_info_btn:active{
    background-color: var(--primaryColorActive);
    transition: none;
}

.card_tech_box{
    margin: 1rem;
}
.techInfo{
    display: flex;
    flex-direction: column;
}
.price_location{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.locationInfo{
    display: flex;
}
.priceInfo{
    font-size: 1.5rem;
    display: flex;
}

@media (max-width: 599px) {
    .cardList {
        width: 100%;
        height: 100%;
    }
    .card_cnt {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .cardList {
        width: 100%;
        height: 100%;
    }
    .card_cnt {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .cardList {
        width: 100%;
        height: 100%;
    }
    .card_cnt {
        width: 45%;
    }
}

@media (min-width: 1500px) {
    .cardList {
        width: 100%;
        height: 100%;
    }
    .card_cnt {
        width: 20%;
    }
}