.card_cnt{
    width: 20vw;
    height: 23vw;
    min-width: 10vw;
    min-height: 12vw;
    margin:2.5%;
    background-color: grey;
    display: flex ;
    position: relative;
    flex-direction: column;
    align-items: center;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    
}
.card_cnt:hover{
    box-shadow: 0rem 0rem 0.5rem rgb(212, 36, 36);
}
.card_img_cnt{
    width: 20vw;
    min-width: 10vw;
    min-height: 11vw;
    position: relative;
    height: 35vw;
    /* overflow: hidden; */
}

.sellerAvatar{
    position:absolute;
    top: 0.5vw;
    left: 1vw;
    height: 2vw;
    width: 2vw !important;
    min-width: 0.2vw;
    min-height: 0.2vw;
    border-radius: 50%;

}
.moto_img {
    width:100% ;
    height: -webkit-fill-available;
    border-radius: 1rem;
    object-fit: cover;
}
.moto_year{
    bottom:17rem;
    left:1.9rem;
    position: absolute;
    height: 0%;
    width: 0%;
    
}

.card_img_cnt button{
    cursor: pointer;
    border: none;
    border-radius: 2.5vw;
    height: 1.7vw;
    min-width: 0.2vw;
    min-height: 0.2vw;
    width: 1.7vw;
    top: 0.3vw;
    right: 1vw;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.fav_btn{
    right:1.5vw;
    top: 1vw;
    display: flex;
}

.info_icons{
    position: relative;
    left: 1.8vw;
    bottom: 1.5vw;
}

.classic_icon{
    color: rgb(95, 90, 93);
}

.eco_icon{
    color: green;
}

.isFav{
    background-color: yellow;
}

.hidden{
    display: none;
}

.card_text_cnt{
    width: 20vw;
    height: 20vw;
    min-width: 10vw;
    min-height: 10vw;
    display: flex;
    position: relative;
    font-size: 0.7rem;
    justify-content: space-between;
}

.card_basicInfo{
    height: 7vw;
    width: 7vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.5vw;
    min-width: 2vw;
    min-height: 1vw;
    bottom: 0vh;

}
.card_info_box{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2.5vw;
}

.moto_brand {
    height: 1vw;
    width: 1vw;
}

.card_info_btn{
    height: 3rem;
    width: 7rem;
}
.card_tech_box{
    margin: 1rem;
    height: 11vw;
    min-width: 5vw;
    position: relative;
}
.techInfo{
    display: flex;
    flex-direction: column;
    width: 11vw;
    position: absolute;
    top: 4vw;
}
.price_location{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.locationInfo{
    display: flex;
}
.priceInfo{
    font-size: 1.5rem;
    display: flex;
}
