.navbar_ctn {
  position: sticky;
  top: 0;
}

.navbar_logo {
  height: 100%;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}
  .topnav input[type=text] {
    float: right;
    padding: 10px;
    border: none;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.06);
    color: white;
    border-radius: 25px;
    width: 25em;
    height: 2em;
    outline: none;
  }


  .button_ctn {
    display: flex;
    height: 8vh;
  }

  .navbar_favlist_button {
    color: red;
    background-color: black;
    height: 100%;
    padding: 0 10%;
    border: none;
    font-size: 2em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
  }

  .navbar_favlist_button:hover {
    background-color: rgba(255, 255, 255, 0.06);
    transition: 0.5s ease-out 100ms;
  }
  
  .navbar_register {
    color: red;
    background-color: black;
    border: none;
    font-size: 2em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
  }

  .navbar_register:hover {
    background-color: rgba(255, 255, 255, 0.06);
    transition: 0.5s ease-in-out 100ms;
  }