.navbar_ctn {
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    z-index: 1;
}

.navbar_ctn a{
  height: 10vh;
  display: contents;
}

.logoAndSlogan{
  display: flex;
  height: 10vh;
  width: 15vw;
}

.logo{
  height: 100%;
}

.slogan{
  font-family: 'Farsan', cursive;
  font-size: large;
  cursor:pointer;
  color: rgba(255, 255, 255, 0.267);
  margin-left: 5%;
}

.slogan:hover{
  color: var(--primaryColor);
}

  .topnav input[type=text] {
    float: right;
    padding: 10px;
    border: none;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.06);
    color: white;
    border-radius: 25px;
    width: 25em;
    height: 2em;
    outline: none;
    cursor: pointer;
  }

  .topnav input:hover{
    background-color: rgba(255, 255, 255, 0.158);
  }

  .topnav input:active, .topnav input:focus{
    background-color: rgba(255, 255, 255, 0.26);
    cursor: text;
  }

  .search_btn {
    position: absolute;
    color: rgba(255, 255, 255, 0.267);
    background-color: inherit;
    border: none;
    margin-right: 15px;
  }

  .button_ctn {
    display: flex;
    height: 10vh;
  }

  .navbar_menu {
    color: var(--primaryColor);
    background-color: black;
    height: 100%;
    padding: 0 2rem;
    border: none;
    font-size: medium;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
  }

  .navbar_menu:hover {
    background-color: var(--primaryColorHover);
    color: white;
    transition: 0.2s ease-out 100ms;
  }

  .navbar_menu:active {
    background-color:var(--primaryColorActive);
    color: white;
    transition: none;
  }

  .actived{
    background-color: var(--primaryColor);
    color: white;
    transition: none;
  }

  .actived:hover{
    background-color: var(--primaryColor);
  }

  .topnav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }