footer {
    color: #676767;
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    justify-content: center;
}

body {
    margin: 0px;
}

.footer_text {
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
}

 .footer_social_media {
    font-size: 24px;
    gap: 15px;
    display: flex;
    color: var(--primaryColor);
}

.footer_contact {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer_contact_us {
    display: flex;
    gap: 5px;
}

.footer_social_media i:hover{
    color: var(--primaryColorHover);
    cursor: pointer;
}

.footer_social_media i:active{
    color: var(--primaryColorActive);
    cursor: pointer;
}

.footer_contact_us:hover{
    color: var(--primaryColorHover);
    cursor: pointer;
}

@media (max-width: 599px){
    footer{
        display: none;
    }
}