.wrapper {
    height: 90vh;
    position: relative;
  }
  
  .card {
    max-width: 80rem;
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -2rem 2rem 3.2rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    background: #bcbcbc;
  }
  
  .product-left {
    height: 100%;
    width: 70%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background: #bcbcbc;
    color: #000000;
  }

  .contact_box{
    margin-top: 2%;
    display: flex;
  }

  .contact_box img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  .contact_box p{
    margin-left: 2.5rem;
  }

  .star {
    justify-content: flex-end;
    color: #676767;
    border: none;
    border-radius: 2.5rem;
    height: 1.7rem;
    width: 1.7rem;
    margin-right: 2%;
  }

  .isFavDetail{
    background-color: rgb(228, 228, 88);
    color: white;  
  }
  
  .product-right {
    background: #fff;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
  
  .product-right img {
    height: 30rem;
    border-radius: 1rem;
  }

  .product-left .classic_icon, .product-left .eco_icon{
    border: none;
    border-radius: 2.5rem;
    height: 1.7rem;
    width: 1.7rem;
    margin-right: 2%;
}
  
  .header h1 {
    text-transform: uppercase;
    margin: 2% 0;
  }

  .brand_detail{
    font-size: xx-large;
    font-weight: bold;
  }
  .model_detail{
    font-size: xx-large;
    font-weight: 500;
  }
  
  /* Price */
  
  .header h2 {
    margin: 0rem 0 2rem 0;
    font-weight: 300;
    }
  
  /* Product Description */
  
  .product-main p {
 
    margin: 2rem 0;
    line-height: 1.45;
  }

  h5{
    padding: 0;
    margin: 5rem 0 0 0;
  }
  
  .focus {
    text-transform: uppercase;
    margin:  1rem 0;
    padding: 0 0 1rem 0;
    border-bottom: 0.2rem solid rgba(250, 250, 250, 0.3);
    display: flex;
    justify-content: space-between;
  }

  .focus span{
    margin:0 0 0 0.5rem;
    border-left: #5c5c5c;
    border-width: 0.05rem;
    border-style: solid;
    padding: 0.3rem;
    font-size: 0.8rem;
  }
  
  .focus i{
    padding: 0 0.5rem 0 0.1rem;
  }
  
  /* .focus span:first-child {
    border-bottom: 0.2rem solid #fff;
    padding: 0 0 0.9rem 0;
  } */
  
  /* Choose color / quantity  */
  
  .btns-group {
    width: 100%;
    margin: 0 0 2rem 0;
  }
  
  /* Total Price  */
  
  .product-total {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .product-total p {
    font-weight: 700;
    font-size: 2rem;
    opacity: 0.5;
  }
  
  /*.product-total h3{
    margin: 0 0 1rem 0;
  }*/
  
  
  /* Add to cart button  */
  .product-btns{
    display:flex;
    justify-content: center;
  }
  
  .product-add {
    display: flex;
    border: 1px solid #fff;
    width: 50%;
    padding: 1.2rem;
    border-radius: 1rem;
    transition: all 0.5s ease-out;
    background-color: #676767;
    justify-content: center;
  }
  
  .product-add:hover {
    background-color: var(--primaryColorHover);
    color: #fff;
  }
  
  .product-btns a {
    text-decoration: none;
    color: #ff0000;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  