.wrapper {
    width: 100vw;
  }
  
  .card {
    height: 85vh;
    max-width: 80%;
    box-shadow: -2rem 2rem 3.2rem rgb(0 0 0 / 20%);
    border-radius: 1rem;
    background: #bcbcbc;
    display: flex;
    margin: 0 auto;
    margin-top: 2.5vh;
  }
  
  .product-left {
    width: 70%;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    flex-direction: column;
    background: #bcbcbc;
    color: #000000;
    display: flex;    
    justify-content: space-between; 
    position: relative; 
  }
  
  .product-right {
    background: #fff;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
  
  .product-right img {
    border-radius: 1rem;
    width: 100%;
  }

  .product-left .classic_icon, .product-left .eco_icon{
    border: none;
    border-radius: 2.5rem;
    height: 1.7rem;
    width: 1.7rem;
    margin-right: 0.5rem;
}

.header{
  height: 15vh
}

.header_top{
  display: flex;
  justify-content: space-between;
}

.seller p{
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  background-color: #EFEFEF;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 0 0 0.5rem;
}

.seller p {
  background-color: rgb(119, 139, 2);
  color: white;
}

.contactMail:hover{
  background-color: rgb(180, 41, 22);

}
.contactWhats:hover{
  background-color: rgb(1, 167, 1);
}

.contactMore:hover{
  background-color: #EFEFEF;
  color: rgb(119, 139, 2);
  cursor: pointer;
}


  
  .header h1 {
    text-transform: uppercase;
    margin: 2% 0;
  }

  .brand_detail{
    font-size: xx-large;
    font-weight: bold;
  }
  .model_detail{
    font-size: xx-large;
    font-weight: 500;
  }

  .details_icons{
    display: flex;
  }

  .seller{
    display: flex;
  }

  .contact_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact_box img{
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    object-fit:cover;
  }

  .star {
    justify-content: flex-end;
    color: #676767;
    border: none;
    border-radius: 2.5rem;
    height: 1.7rem;
    width: 1.7rem;
    margin-right: 2%;
  }

  .isFavDetail{
    background-color: rgb(228, 228, 88);
    color: white;  
  }

  .open_cnt .back_btn{
    background-color:#272727;
    color: white;
  }

  .open_cnt{
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #00000077;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 1rem;
    backdrop-filter: blur( 0.7rem );
    -webkit-backdrop-filter: blur( 0.7rem );
  }

  .open_box{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .open_box .avatar{
    height: 20%;
  }

  .open_box h4{
    margin: 0.5rem 0 0 0;
    text-align: center;
    color: white;
  }

  .open_box .avatar img{
    width: 5rem;
    height: 5rem;
  }

  .open_box .contact{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .open_box i{
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    background-color: rgb(119, 139, 2);
    color: white;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 1rem 0 0;
  }

  .contactData{
    display: flex;
    justify-content: flex-start;
    padding: 2%;
    margin-left: 25%;
    align-items: center;
    color: white;
  }

  
  
  
  /* Product Description */
  
  .product-main p {
 
    margin: 2rem 0;
    line-height: 1.45;
  }

  h5{
    padding: 0;
    margin: 5rem 0 0 0;
  }
  
  .focus {
    text-transform: uppercase;
    margin:  1rem 0;
    padding: 0 0 1rem 0;
    border-bottom: 0.2rem solid rgba(250, 250, 250, 0.3);
    display: flex;
    justify-content: space-between;
  }

  .focus span{
    margin:0 0 0 0.5rem;
    border-left: #5c5c5c;
    border-width: 0.05rem;
    border-style: solid;
    padding: 0.3rem;
    font-size: 0.8rem;
  }
  
  .focus i{
    padding: 0 0.5rem 0 0.1rem;
  }
  
  /* .focus span:first-child {
    border-bottom: 0.2rem solid #fff;
    padding: 0 0 0.9rem 0;
  } */
  
  /* Choose color / quantity  */
  
  .btns-group {
    width: 100%;
    margin: 0 0 2rem 0;
  }
  
  /* Total Price  */
  
  .product-total {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .product-total p {
    font-weight: 700;
    font-size: 2rem;
    opacity: 0.5;
  }
  
  /*.product-total h3{
    margin: 0 0 1rem 0;
  }*/
  
  
  /* Add to cart button  */
  .details_buy{
    height: 25vh;
  }
  
  .product-btns{
    display:flex;
    justify-content: center;
  }
  
  .product-add {
    display: flex;
    border: 1px solid #fff;
    width: 50%;
    padding: 1.2rem;
    border-radius: 1rem;
    transition: all 0.5s ease-out;
    background-color: var(--primaryColor);
    color: white;
    justify-content: center;
  }
  
  .product-add:hover {
    background-color: var(--primaryColorHover);
    color: #fff;
    cursor: pointer;
  }

  .product-add:active {
    background-color: var(--primaryColorActive);
    transition: none;
  }
  
  .product-btns a {
    text-decoration: none;
    color: #ff0000;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  @media  (max-width: 940px) {
    .card {
      flex-direction: column;
      margin-top: 60px;
    }
  
    .product-left,
    .product-right {
      width: 100%;
    }
  
    .product-right img {
      width: 100%;
      right: 0;
      left: initial;
    }
  }
  
  @media (max-width: 450px) {
    .product-right img {
      width: 100%;
      margin-top: 80px;
      height:55vh ;
    
    }
    .product-left {
      width: 83% ;
    }

    .product-main {
      width: 100%;
      }
      .focus  {
        display: flex;
       justify-content: center;
      font-size: x-small;
       
       }
       .header h2 {
        font-size: small;
  }
}