.wrapper {
    height: 90vh;
    position: relative;
    background-color: #ccc5b9;
  }
  
  .card {
    max-width: 80rem;
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -2rem 2rem 3.2rem rgba(0, 0, 0, 0.2);
  }
  
  .product-left {
    height: 100%;
    width: 70%;
    padding: 4rem 2rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    background: #bcbcbc;
    color: #000000;
  }
  .star {
    display: flex;
    justify-content: flex-end;
  }
  .product-right {
    background: #fff;
    height: auto;
    width: 80%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-right img {
    height: 30rem;
  }
  
  /* Price */
  
  .header h2 {
    margin: 0rem 0 2rem 0;
    font-weight: 300;
    }
  
  /* Product Description */
  
  .product-main p {
 
    margin: 2rem 0;
    line-height: 1.45;
  }
  
  .focus {
    text-transform: uppercase;
    margin:  1rem ;
    padding: 0 0 0.9rem 0;
    border-bottom: 0.2rem solid rgba(250, 250, 250, 0.3);
    font-size: 100%;
  }
  .focus span{
    margin:0 0 0 1rem;

  }
  .focus i{
    margin-left: 2rem ;
  }
  /*.focus span:last-child {
    margin: 0 0 0 1rem;
    width: 100%;
  }*/
  
  .focus span:first-child {
    border-bottom: 0.2rem solid #fff;
    padding: 0 0 0.9rem 0;
  }
  
  /* Choose color / quantity  */
  
  .btns-group {
    width: 100%;
    margin: 0 0 2rem 0;
  }
  
  /* Total Price  */
  
  .product-total {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .product-total p {
    font-weight: 700;
    font-size: 2rem;
    opacity: 0.5;
  }
  
  /*.product-total h3{
    margin: 0 0 1rem 0;
  }*/
  
  
  /* Add to cart button  */
  .product-btns{
    display:flex;
    justify-content: center;
  }
  
  .product-add {
    display: flex;
    border: 1px solid #fff;
    width: 50%;
    padding: 1.2rem;
    border-radius: 1rem;
    transition: all 0.5s ease-out;
    background-color: #676767;
    justify-content: center;
  }
  
  .product-add:hover {
    background-color: #ff0000;
    color: #fff;
  }
  
  .product-btns a {
    text-decoration: none;
    color: #ff0000;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  @media  (max-width: 940px) {
    .card {
      flex-direction: column;
      margin-top: 60px;
    }
  
    .product-left,
    .product-right {
      width: 100%;
    }
  
    .product-right img {
      width: 100%;
      right: 0;
      left: initial;
    }
  }
  
  @media (max-width: 450px) {
    .product-right img {
      width: 100%;
      margin-top: 80px;
      height:55vh ;
    
    }
    .product-left {
      width: 83% ;
      
    }
    .product-main {
      width: 100%;
      }
      .focus  {
        display: flex;
       justify-content: center;
      font-size: x-small;
       
       }
       .header h2 {
        font-size: small;
  }
}