.favList{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    align-content: flex-start;
}

.favList h1{
    margin: 0;
    padding: 0;
    align-items: flex-end;
}

.favList header{
    width: 100vw;
    height: 6vh;
    display: flex;
}

.favList_info{
    display: flex;
    width: 100vw;
    justify-content: center;
    font-size: medium;
}

